<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Choice News</a>
		</nav>
	<div class="container">
	<div class="row" style="margin-top:100px">
		<div class="col-4">
            <div class="card" style="width: 16rem;">
                  <img class="card-img-top" src="static/img/bbc.png" alt="Card image cap" height="200" widht="200">
                  <div class="card-body">
                    <h5 class="card-title">BBC News</h5>
                    <p class="card-text">BBC News is an operational business division of the British Broadcasting Corporation (BBC) responsible for the gathering and broadcasting of news and current affairs.</p>
                    <form action="/news" method="post">
                      <input type="text" value="bbc-news" name="source" style="visibility: hidden;">
                      <input type="submit" class="btn btn-primary" value="Get News">
                    </form> 
                  </div>
             </div>
        </div>
		<div class="col-4">
            <div class="card" style="width: 16rem;">
              <img class="card-img-top" src="static/img/cnbc.jpg" alt="Card image cap"  height="200" widht="200">
              <div class="card-body">
                <h5 class="card-title">CNBC News</h5>
                <p class="card-text">CNBC is an American basic cable, internet and satellite business news television channel that is owned by NBCUniversal News Group.</p>
                <form action="/news" method="post">
                  <input type="text" value="cnbc" name="source" style="visibility: hidden;">
                  <input type="submit" class="btn btn-primary" value="Get News">
                </form> 
              </div>
            </div>
		</div>
		<div class="col-4">
            <div class="card" style="width: 16rem;">
              <img class="card-img-top" src="static/img/espn.png" alt="Card image cap" height="200" widht="200">
              <div class="card-body">
                <h5 class="card-title">ESPN Sports News</h5>
                <p class="card-text">ESPN (originally an initialism for Entertainment and Sports Programming Network) is a U.S.-based global pay television sports channel owned by ESPN Inc..</p>
                <form action="/news" method="post">
                  <input type="text" value="espn" name="source" style="visibility: hidden;">
                  <input type="submit" class="btn btn-primary" value="Get News">
                </form> 
              </div>
            </div>        
        </div>
	</div>




            <div class="row" style="margin-top:100px">
		            <div class="col-4">
                        <div class="card" style="width: 16rem;">
                              <img class="card-img-top" src="static/img/hindu.jpeg" alt="Card image cap" height="200" widht="200">
                              <div class="card-body">
                                <h5 class="card-title">The Hindu</h5>
                                <p class="card-text">The Hindu is an Indian daily newspaper, headquartered at Chennai. It was started as a weekly in 1878 and became a daily in 1889. It is one of the two Indian newspapers of record and the second most circulated English-language news.</p>
                                <form action="/news" method="post">
                                  <input type="text" value="the-hindu" name="source" style="visibility: hidden;">
                                  <input type="submit" class="btn btn-primary" value="Get News">
                                </form> 
                              </div>
                         </div>
                    </div>
		            <div class="col-4">
                        <div class="card" style="width: 16rem;">
                          <img class="card-img-top" src="static/img/verge.png" alt="Card image cap" height="200" widht="200">
                          <div class="card-body">
                            <h5 class="card-title">The Verge Tech News</h5>
                            <p class="card-text">The Verge is an American technology news and media network operated by Vox Media. It has offices in Manhattan, New York City.</p>
                           <form action="/news" method="post">
                            <input type="text" value="the-verge" name="source" style="visibility: hidden;">
                            <input type="submit" class="btn btn-primary" value="Get News">
                          </form> 
                          </div>
                        </div>
		            </div>
		            <div class="col-4">
                        <div class="card" style="width: 16rem;">
                          <img class="card-img-top" src="static/img/techcrunch.png" alt="Card image cap" height="200" widht="200">
                          <div class="card-body">
                            <h5 class="card-title">Tech Crunch</h5>
                            <p class="card-text">TechCrunch is an American online publisher of technology industry news founded in 2005 by Archimedes Ventures whose partners were Michael Arrington and Keith Teare.</p>
                            <form action="/news" method="post">
                              <input type="text" value="techcrunch" name="source" style="visibility: hidden;">
                              <input type="submit" class="btn btn-primary" value="Get News">
                            </form> 
                          </div>
                        </div>        
                    </div>
	            </div>




	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>.
