<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Choice News</a>
    </nav>
    <div class="container">
            {%for i in range(ans[0]|length)%}
    <div class="card" style="width: 100%; margin-top: 20px;">
            <img class="card-img-top" src="{{ans[2][i]}}" alt="Card image cap" width="50%" height="50%">
            <div class="card-body">
              <h5 class="card-title">{{ans[0][i]}}</h5>
              <p class="card-text">{{ans[1][i]}}</p>
              <a href="{{ans[3][i]}}" class="btn btn-dark">Full News</a>
            </div>
          </div>
        {%endfor%}
    </div>
    <!-- <div class="container">
            {%for i in range(ans[0]|length)%}
            <h3 class="alert alert-primary" role="alert"><div style="color:black;">Title</div> {{ans[0][i]}} </h3>
            <h5 class="alert alert-warning" role="alert"><div style="color:black;">Description</div> {{ans[1][i]}} </h5>
            {%endfor%}
    </div> -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>